/* Foxolabs.Inc */
/* Style sheet created*/
/* TEMPLATE STYLES */
/* Necessary for full page carousel*/

/*danger-color
#ff4444
danger-color-dark
#CC0000
elegant-color
#2E2E2E
elegant-color-dark
#212121
secondary-color
#aa66cc
secondary-color-dark
#9933CC*
success-color
#00C851
success-color-dark
#007E33
*/


html,
body {
  height: 100%;
  font-family:"Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background: #fff;
}

/* Scrolling navbar for the side scroll*/
.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/*add the responsive typography font*/

/* ******************************************/
/* Navigation*/
/* ******************************************/

.navbar-nav {
	font-weight: bold;
  font-family:"Open Sans", Arial, sans-serif;
} 

.navbar-brand {
	font-weight: bold!important;
	font-size: 24px;
	font-color:#00C851;
}

.fa-gitlab {
	color: #00C851;
}

.navbar-toggler {
	color: #fff;
	border: 1px solid #fff!important;
	padding: 2px;
}

/*adding padding to the navbar list items*/


/*Caption*/

@media (min-width: 779px){
   	
.navbar-brand {
  font-weight: bold!important;
  font-color:#FFf!important;
}

.navbar {
  padding: 20px;
}

.navbar li {
  margin-left : 1em;
  margin-right : 1em;
}

.top-nav-collapse {
	background-color: #FAFAFA;
	color: #fff;
	text-align: center;
}

}


@media only screen and (max-width: 768px) {
	
.navbar {
  background-color: transparent;
  font-family: "Open Sans", Arial, sans-serif ;
}
  .navbar {
		background-color: #fff;
   	color: #fff;
	}
	
}

/* Carousel*/
.carousel {
	height: 70%;
}


@media (max-width: 776px) {
	.carousel {
		height: 100%;
	}
}

.carousel-item,
.active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}



/* card general properties */


/*card-title general properties */

.card {
  text-align: center;
  padding-bottom: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.card-text {
  text-align: left;
}

.foxo-subheader h3{
  font-weight: bold;
}



/* ******************************************/
/* foxo-services*/
/* ******************************************/


@media (max-width: 776px) {
  #foxo-services {
  padding: 40px;  }
}


@media (min-width: 778px) {
  #foxo-services {
  padding: 100px;  }
}


#foxo-services {
  font-family:"Open Sans", Arial, sans-serif!important;
  background-color: #69F0AE;
}


#foxo-services img {
  height: 40%;
  width: 40%;
  padding: 20px;
}


/* ******************************************/
/* foxo-cross platform*/
/* ******************************************/

@media (max-width: 776px) {
  #foxo-cross-platform {
  padding: 40px;  }
}


@media (min-width: 778px) {
  #foxo-cross-platform {
  padding: 100px;  }
}

#foxo-cross-platform img {
  height: 40%;
  width: 40%;
  padding: 20px;
}

.card-image {
  height: 100%;
  width: 100%;
}

#foxo-cross-platform {
  font-family:"Open Sans", Arial, sans-serif!important;
  //background-color: #69F0AE;
}

.card-col {
  padding: 20px;
}

@media (max-width: 776px) {
  .foxo-subheader {
  padding-bottom:20px;  }
}


@media (min-width: 778px) {
 .foxo-subheader {
  padding-bottom:  40px;  }
}



.service-icon {
  padding: 40px;
  text-align: center;
}


/* ******************************************/
/* foxo-appdev section*/
/* ******************************************/

@media (max-width: 776px) {
  #foxo-appdev {
  padding: 40px;  }
}


@media (min-width: 778px) {
  #foxo-appdev {
  padding: 100px;  }
}

#foxo-appdev {
  font-family:"Open Sans", Arial, sans-serif!important;
  background-color: #CFD8DC;
}

.appdev-content {
  padding: 20px;
}


/* ******************************************/
/* foxo-insights section*/
/* ******************************************/

@media (max-width: 776px) {
  #foxo-insights {
  padding: 40px;  }
}


@media (min-width: 778px) {
  #foxo-insights {
  padding: 100px;  }
}

#foxo-insights {
  font-family:"Open Sans", Arial, sans-serif!important;
  background-color: #fff;
}

.appdev-content {
  padding: 20px;
}


/* ******************************************/
/* foxo-contactus section*/
/* ******************************************/


.foxo-contact {
  font-family:"Open Sans", Arial, sans-serif!important;
  padding-bottom: 80px;
}

.appdev-content {
  padding: 20px;
}



/* ******************************************/
/* foxo-footer section*/
/* ******************************************/

@media (max-width: 776px) {
  #foxo-footer {
  padding: 40px; 
  text-align: center; }
}


@media (min-width: 778px) {
  #foxo-footer {
  padding: 100px;  }
}


#foxo-footer {
  font-family:"Open Sans", Arial, sans-serif!important;
  background-color: #ECEFF1;
  font-size: 16px;
}

#foxo-footer h5 {
  font-weight: bold;

}

.footer-sub-head h5 {
  font-weight: bold!important;
}

#foxo-footer .foxo-footer-links li a {
color: #727272;
text-decoration: none;
}


/*copy right section */

@media (max-width: 776px) {
  .copyright {
  padding: 20px;  }
}


@media (min-width: 778px) {
  .copyright {
  padding: 60px;  }
}

.copyright {
  font-size: 15px!important;
}

 .foxo-social-icons {
    font-weight: bold;
    font-size: 20px;
 }

.foxo-social-icons img {
  width: 50%;
  height: 50%;

}

.copyright ul li {
  display: inline-block;
  padding: 10px;
}

#foxo-footer .copyright a {
color: #ff4444;
text-decoration: none!important;
}



/*foxo-services-master section*/

.foxo-services-master {
  font-family:"Open Sans", Arial, sans-serif!important;
}



@media (max-width: 776px) {
  .foxo-services-master {
  padding: 80px;
}
}


@media (min-width: 778px) {
  .foxo-services-master {
  padding: 150px;
}
}


.foxo-services-master .card-block {
  padding: 40px;
}


.foxo-services-subheader {

}